<p>ランダムテストでは、白チャートの基本例題をランダムで演習することができます。</p><br>
<p>問題構成は、数と式→図形と計量→2次関数→集合と命題→データの分析→場合の数と確率→整数の性質→図形の性質です。（共通テストの構成に近い形）</p><br>
<p>30分で解いてみましょう。場合の数と確率、整数の性質、図形の性質については、2つ選択</p><br>

<%= link_to "問題スタート", "#", class:"btn btn-success" %>