@import "~bootstrap/scss/bootstrap.scss";

// フラッシュメッセージ //
.alert-notice{
  text-align:center;
  color:#31708f;
  background-color:#d9edf7;
}

.alert-alert{
  text-align:center;
  color:#a94442;
  background-color:#f2dede;
}

.navbar{
  background-color:#9BF9CC;
}

.intro{
  margin-top:50px;
  text-align:center;
}

.post-btn-area{
  margin-bottom:10px;
}

.login-area{
  margin-top:300px;
}

.user-show{
  text-align:center;
  margin-top:50px;
}
